# 100th Coin | https://www.patreon.com/posts/making-your-nes-137873901
__PatreonRoms/*

# don't facking shere this files
test_nes_files/*

# pycache
__pycache__/*

# pycache p2
*.pyc

# manim
manim/*

# build
build/*
dist/*

# debug
debug/*

reference/*