# code extensions
maturin # Rust
cython # Cython
setuptools-rust # Rust build

# game development
pygame-ce # community edition of pygame

# emulator backend
pypresence # discord rich presence

# terminal output
rich # rich terminal output

# rendering
moderngl # modern OpenGL wrapper

# data processing
numpy # numerical computing

# debug
psutil # process and system utilities

# GPU monitoring
GPUtil # GPU monitoring (supports both NVIDIA and AMD GPUs)

# Windows specific
pywin32;platform_system=="Windows" # Windows API

# type checking
mypy # types-requests # for mypy to check requests library

# ui tkinter
customtkinter

# returns lib
returns # for functional programming

# test lib
pytest

# JIT compiler
# numba @ git+https://github.com/numba/numba.git@717dd2f75fcf07b5a152a26f2941193e6f262b0a # Don't do it, make files big

# clip
pillow

# build exe tool
pyinstaller