altgraph==0.17.4
astroid==4.0.2
cffi==2.0.0
colorama==0.4.6
Cython==3.1.6
dearpygui==2.1.0
dill==0.4.0
glcontext==3.0.0
glm==0.4.4
GPUtil==1.4.0
isort==7.0.0
markdown-it-py==4.0.0
maturin==1.9.6
mccabe==0.7.0
mdurl==0.1.2
moderngl==5.12.0
mypy==1.18.2
mypy_extensions==1.1.0
numpy==2.3.4
nvidia-ml-py==13.580.82
pathspec==0.12.1
pefile==2024.8.26
platformdirs==4.5.0
psutil==7.1.2
py3nvml==0.2.7
pycparser==2.23
pygame-ce==2.5.6
Pygments==2.19.2
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pylint==4.0.3
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
pypresence==4.6.1
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
pywin32==311
pywin32-ctypes==0.2.3
rich==14.2.0
semantic-version==2.10.0
setuptools==80.9.0
setuptools-rust==1.12.0
shiboken6==6.10.0
tomlkit==0.13.3
typing_extensions==4.15.0
xmltodict==1.0.2
